In [1]:
# NIM/Nama  :   Daniel Pedrosa Wu
# Tanggal   :   10 November 2023
# Deskripsi :   Problem 01 TP Modul 5

Mengimport Pandas dan membuat dataframe dengan nama 'df' yang membaca "H05.csv"

In [4]:
import pandas as pd
df = pd.read_csv("H05.csv")

1. Banyaknya data.

In [14]:
print("Banyaknya data adalah", len(df))

Banyaknya data adalah 5135

2. 10 data pertama.

In [7]:
print("10 data pertama")
print(df[:10].to_string(index = False))

10 data pertama
                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
          Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
                Steven Margono    FMIPA      67.43      51.50      57.20
                  Ryan Sentosa    SAPPK      90.62      37.38      40.73
          Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
              Alvin Natawiguna     FTSL      65.45      57.67      56.39
                 Sasti Safitri     FTSL      60.58      41.91      51.55
           Dani Yulianto Putra     FTSL      51.67      35.05      48.69
Nabila Febitsukarizky Bunyamin     FTTM      71.66      67.61      69.75
           Ratna Siti Khodijah      FTI      73.06      59.16      59.48
                  Gita Partiwi     FTSL      69.57      38.84      48.17

3. Data ke 50 sampai 60 (inklusif: data ke-50, data ke-51, . . . , data ke-60).

In [16]:
print("Data ke 50 sampai 60")
print(df[49:60].to_string(index = False))

Data ke 50 sampai 60
                    nama fakultas  nilai_mat  nilai_kim  nilai_fis
    Alief Rizky Ramadhan    SITHS      84.59      42.44      40.48
    Arief Syakur Sutedjo     FTTM      84.40      61.21      73.91
       Fayi Raihan Saleh    FMIPA      60.62      32.57      42.34
        Erna Kristiawati      FTI      67.48      46.78      52.30
                  Albert    SAPPK      70.27      50.10      54.01
M Jazztyan Indra Pradana     STEI      53.40      43.06      60.30
    Moch Ginanjar Busiri    FMIPA      74.29      38.44      49.15
            Aisya Tamara     FITB      71.49      35.86      37.41
      Tyas Arum Widayati    SAPPK      68.57      37.02      53.25
              Arif Saleh      FTI     100.00      59.79      55.33
   Windy Diwita Nisaekti      FTI      67.15      57.72      54.24

4. Banyaknya mahasiswa tiap fakultas.

In [17]:
print("Banyaknya mahasiswa tiap fakultas: ")
print(df["fakultas"].value_counts().to_string())

Banyaknya mahasiswa tiap fakultas:
fakultas
FTI      834
STEI     777
FTSL     660
FMIPA    627
FTTM     579
FTMD     480
FITB     403
SAPPK    315
SITHR    282
SITHS    178

5. Nilai korelasi antara nilai Fisika dan Kimia. Apakah berkorelasi lurus, terbalik, atau tidak berkolerasi? Jelaskan.

In [18]:
print("Nilai korelasi antara nilai Fisika dan nilai Kimia adalah",df["nilai_fis"].corr(df["nilai_kim"]))

Nilai korelasi antara nilai Fisika dan nilai Kimia adalah 0.7988187423880274

Cara memaknai nilai korelasi:
- Semakin mendekati 0, semakin dua kolom tidak berkorelasi. 
- Semakin mendekati 1, semakin dua kolom berbanding lurus. 
- Semakin mendekati -1, semakin dua kolom berbanding terbalik.
Karena nilai korelasi antara nilai Fiika dan nilai Kimia mendekati 1, maka kedua cenderung berbanding lurus.